/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== addressbook.css ================================================
  == Styles for the main Address Book window.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: primary toolbar buttons ::::: */

#button-newcard {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newcard.gif");
}

#button-newcard:hover {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newcard-hov.gif");
} 

#button-newcard:hover:active {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newcard-act.gif");
}

#button-newcard[disabled] {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newcard-dis.gif") !important;
} 

#button-newlist {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newlist.gif");
}

#button-newlist:hover {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newlist-hov.gif");
} 

#button-newlist:hover:active {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newlist-act.gif");
}

#button-newlist[disabled] {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newlist-dis.gif") !important;
} 

#button-editcard {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/edit.gif");
}

#button-editcard:hover {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/edit-hov.gif");
} 

#button-editcard:hover:active {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/edit-act.gif");
}

#button-editcard[disabled] {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/edit-dis.gif") !important;
} 

#button-newmessage,
#button-newim {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newmsgab.gif");
}


#button-newmessage:hover,
#button-newim:hover {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newmsgab-hov.gif");
} 

#button-newmessage:hover:active,
#button-newim:hover:active {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newmsgab-act.gif");
} 

#button-newmessage[disabled],
#button-newim[disabled] {
  list-style-image: url("chrome://messenger/skin/addressbook/btn1/newmsgab-dis.gif") !important;
} 

#button-abdelete {
  list-style-image: url("chrome://messenger/skin/btn1/trash.gif");
}

#button-abdelete:hover {
  list-style-image: url("chrome://messenger/skin/btn1/trash-hov.gif");
} 

#button-abdelete:hover:active {
  list-style-image: url("chrome://messenger/skin/btn1/trash-act.gif");
}

#button-abdelete[disabled] {
  list-style-image: url("chrome://messenger/skin/btn1/trash-dis.gif");
} 

/* ::::: Card View pane ::::: */

#CardViewBox {
  -moz-user-focus: ignore;
  min-width: 150px;
  background-color: #EFEFEF;
  overflow: auto;
  border-left: 2px solid;
  -moz-border-left-colors: #63717B #000000;
  border-bottom: 1px solid black;
}

#CardViewInnerBox {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0 8px;
}

#CardTitle {
  margin: 0px;
  border-bottom: 2px solid black;
  min-width: 120px;
  font-size: 150%;
  font-weight: bold;
  color: #000000;
}
 
.cardViewGroup {
  margin-top: 8px;
  padding-bottom: 5px;
  min-width: 50px;
}

.CardViewHeading {
  margin: 0px 0px 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-inline-start: 5px;
  padding-inline-end: 1px;
  min-width: 30px;
  background-color: #C2D0D0;
  color: black;
  font-weight: bold;
}

#cvBuddyIcon {
  padding-inline-start: 20px;
  padding-top: 2px;
}

.CardViewText,
.CardViewLink {
  margin: 0px;
  padding-inline-end: 2px;
  padding-inline-start: 20px;
  min-width: 30px;
  color: #000000;
}

.CardViewLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#cvHomeMapIt, #cvWorkMapIt {
  margin-inline-start: 3px;
  margin-bottom: -1px;
}

#status-bar {
  border-top: none;
}

html|a {
  border: none !important;
  padding-inline-end: 2px;
  padding-inline-start: 0px;
}

html|p {
  border: none !important;
}
