/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== button.css =====================================================
  == Styles used by the XUL (and XHTML in netError.xhtml) button element.
  ======================================================================= */

/* :::::::::: button :::::::::: */

button {
  margin: 0px 2px;
  min-width: 6em;
  color: #1C1D1F;
  font: message-box;

  border-image: url("chrome://global/skin/button/btn.gif") 12 12 11 12  fill;
  border-width: 4px 5px;
  border-style: solid;
  border-image-width: 12px 12px 11px 12px;
}

.button-icon {
  margin-inline-start: 2px;
}

.button-text {
  margin-inline-start: 2px;
  text-align: center;
}

/* .......... focused state .......... */

button:focus {
  border-image-source: url("chrome://global/skin/button/btn-focus.gif");
}

/* .......... active/open/checked state .......... */

button:hover:active,
button[checked="true"],
button[open="true"] {
  border-image-source: url("chrome://global/skin/button/btn-act.gif");
  color: #FFFFFF;
}

button:hover:active:focus,
button[checked="true"]:focus,
button[open="true"]:focus {
  border-image-source: url("chrome://global/skin/button/btn-act-focus.gif");
}

/* .......... disabled state .......... */

button[disabled="true"] {
  border-image-source: url("chrome://global/skin/button/btn-dis.gif") !important;
  color: #7F8997 !important;
}
  
button[disabled="true"]:focus {
  border-image-source: url("chrome://global/skin/button/btn-dis-focus.gif");
}

/* .......... default state .......... */

button[default="true"] {
  border-image-source: url("chrome://global/skin/button/btn-def.gif");
}

button[default="true"]:focus {
  border-image-source: url("chrome://global/skin/button/btn-def-focus.gif");
}

button[default="true"]:hover:active {
  border-image-source: url("chrome://global/skin/button/btn-def-act.gif");
}

button[default="true"]:hover:active:focus {
  border-image-source: url("chrome://global/skin/button/btn-def-act-focus.gif");
}

/* ::::: menu/menu-button buttons ::::: */

button[type="menu-button"] {
  border: none;
  background: transparent !important;
}

.button-menubutton-button {
  margin: 0;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
  margin: 1px;
  background-color: transparent;
  border: none;
}
  
.button-menubutton-dropmarker[open="true"] {
  margin-top: 2px;
  margin-bottom: 0px;
  margin-inline-start: 2px;
  margin-inline-end: 0px;
}

/* ::::: plain buttons ::::: */

button.plain,
button.plain:hover,
button.plain:hover:active
{
  margin: 0px;
  border: none !important;
  padding: 0px;
}

/* ::::: xhtml buttons ::::: */

button::-moz-focus-inner {
  padding: 0px;
  border: 0px none;
}
