/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== folderPane.css =================================================
  == Styles for the Folder pane in the Messenger 3-pane window.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: mail folder ::::: */

treechildren::-moz-tree-image(folderNameCol) {
  -moz-margin-end: 2px;
}

.icon-holder[type="folder"],
treechildren::-moz-tree-image(folderNameCol) {
  list-style-image: url("chrome://messenger/skin/icons/folder-closed.gif");
}

/* ..... Shared ..... */

.icon-holder[type="folder"][ImapShared="true"],
treechildren::-moz-tree-image(folderNameCol, imapShared-true) {
  list-style-image: url("chrome://messenger/skin/icons/folder-share.gif");
}

/* ..... mail folder with new messages ..... */

treechildren::-moz-tree-image(folderNameCol, newMessages-true) {
  list-style-image: url("chrome://messenger/skin/icons/folder-new.gif");
}

/* ..... News and Feeds ..... */

.icon-holder[type="folder"][ServerType="nntp"],
.icon-holder[type="folder"][ServerType="rss"],
treechildren::-moz-tree-image(folderNameCol, serverType-nntp),
treechildren::-moz-tree-image(folderNameCol, serverType-rss) {
  list-style-image: url("chrome://messenger/skin/icons/folder-newsgroup.gif");
}

.icon-holder[type="folder"][ServerType="nntp"][NewMessages="true"],
.icon-holder[type="folder"][ServerType="rss"][NewMessages="true"],
treechildren::-moz-tree-image(folderNameCol, serverType-nntp, newMessages-true),
treechildren::-moz-tree-image(folderNameCol, serverType-rss, newMessages-true) {
  list-style-image: url("chrome://messenger/skin/icons/folder-newsgroup-new.gif");
}

/* ..... Inbox ..... */

.icon-holder[type="folder"][SpecialFolder="Inbox"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox) {
  list-style-image: url("chrome://messenger/skin/icons/folder-inbox.gif");
}

.icon-holder[type="folder"][SpecialFolder="Inbox"][NewMessages="true"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox, newMessages-true) {
  list-style-image: url("chrome://messenger/skin/icons/folder-inbox-new.gif");
}

/* ..... Sent ..... */

.icon-holder[type="folder"][SpecialFolder="Sent"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) {
  list-style-image: url("chrome://messenger/skin/icons/folder-sent.gif");
}

/* ..... Drafts ..... */

.icon-holder[type="folder"][SpecialFolder="Drafts"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts) {
  list-style-image: url("chrome://messenger/skin/icons/folder-draft.gif");
}

/* ..... Templates ..... */

.icon-holder[type="folder"][SpecialFolder="Templates"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) {
  list-style-image: url("chrome://messenger/skin/icons/folder-template.gif");
}

/* ..... Outbox ..... */

.icon-holder[type="folder"][SpecialFolder="Outbox"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) {
  list-style-image: url("chrome://messenger/skin/icons/folder-outbox.gif");
}

/* ..... Junk ..... */

.icon-holder[type="folder"][SpecialFolder="Junk"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) {
  list-style-image: url("chrome://messenger/skin/icons/folder-junk.gif");
}

/* ..... Trash ..... */

.icon-holder[type="folder"][SpecialFolder="Trash"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) {
  list-style-image: url("chrome://messenger/skin/icons/folder-trash.gif");
}

/* ..... Saved Searches ..... */

.icon-holder[type="folder"][SpecialFolder="Virtual"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual) {
  list-style-image: url("chrome://messenger/skin/icons/folder-search.gif");
}

/* ..... Server Folders ..... */

.icon-holder[type="folder"][IsServer="true"],
treechildren::-moz-tree-image(folderNameCol, isServer-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-mail.gif");
}

.icon-holder[type="folder"][BiffState="NewMail"][IsServer="true"],
treechildren::-moz-tree-image(folderNameCol, biffState-NewMail, isServer-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-mail-new.gif");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="pop3"][IsSecure="true"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-pop3, isSecure-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-remote-lock.gif");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="imap"][IsSecure="true"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-imap, isSecure-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-remote-lock.gif");
}

.icon-holder[type="folder"][BiffState="NewMail"][IsServer="true"][IsSecure="true"],
treechildren::-moz-tree-image(folderNameCol, biffState-NewMail, isServer-true, isSecure-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-remote-lock-new.gif");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="none"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) {
  list-style-image: url("chrome://messenger/skin/icons/server-local.gif");
}

.icon-holder[type="folder"][BiffState="NewMail"][IsServer="true"][ServerType="none"],
treechildren::-moz-tree-image(folderNameCol, biffState-NewMail, isServer-true, serverType-none) {
  list-style-image: url("chrome://messenger/skin/icons/server-local-new.gif");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="nntp"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp) {
  list-style-image: url("chrome://messenger/skin/icons/server-news.gif");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="nntp"][IsSecure="true"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp, isSecure-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-news-lock.gif");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="rss"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-rss) {
  list-style-image: url("chrome://communicator/skin/icons/feedIcon16.png");
}

/* ::::: All Servers ::::: */

treechildren::-moz-tree-cell-text(closed, subfoldersHaveUnreadMessages-true),
treechildren::-moz-tree-cell-text(folderNameCol, isServer-true),
treechildren::-moz-tree-cell-text(hasUnreadMessages-true) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(folderNameCol, noSelect-true) {
  color: gray;
  font-style: italic;
}

treechildren::-moz-tree-image(syncCol) {
  list-style-image: url("chrome://global/skin/checkbox/cbox.gif");
}

treechildren::-moz-tree-image(syncCol, synchronize-true) {
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

treechildren::-moz-tree-image(syncCol, isServer-true) {
  list-style-image: none;
}

#messengerBox:last-child > #folderPaneBox #folderPaneCols {
  border-top: 1px solid #92ABC9;
  border-bottom: 1px solid black;
}

#messengerBox:last-child > #folderPaneBox #folderPaneCols > treecol,
#messengerBox:last-child > #folderPaneBox #folderPaneCols > treecolpicker {
  background-color: #5C7794;
  color: #FFFFFF;
  font-weight: bold;

  border: none;
  -moz-box-align: center;
  padding: 0;
  padding-bottom: 2px;
}

#messengerBox:last-child > #folderPaneBox #folderPaneCols > treecol:first-child {
  padding-left: 18px;
}

#messengerBox:last-child > #folderPaneBox #folderPaneCols > treecol {
  border-right: 1px solid #000000;
  padding-right: 3px;
}

#messengerBox:last-child > #folderPaneBox #folderPaneCols > treecol:not(:first-child),
#messengerBox:last-child > #folderPaneBox #folderPaneCols > treecolpicker {
  border-left: 1px solid #92ABC9;
}

#messengerBox:last-child > #folderPaneBox #folderPaneCols > treecol:hover:active,
#messengerBox:last-child > #folderPaneBox #folderPaneCols > treecolpicker:hover:active {
  background: #455A70;
}

#folderUnreadCol,
#folderTotalCol,
#folderSizeCol {
  text-align: right;
}

#folderNameCol [sortDirection="ascending"] {
  list-style-image: none;
}

#folderNameCol [sortDirection="descending"] {
  list-style-image: none;
}

/* ::::: Folder Summary Popup ::::: */

.folderSummary-message-row {
  /* This max width ends up dictating the overall width of the popup
     because it controls how large the preview, subject and sender text can be
     before cropping kicks in */
  max-width: 450px;
}

.folderSummary-subject {
  font-weight: bold; 
}

.folderSummary-previewText {
  color: #85959E;
}
